* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pasta {
    color: white;
    text-align: center;
}

button {
    font-weight: bold;
    color: white;
    background-color: gray;
}

a {
    text-decoration: none;
}